.faq .section-header {
    background: url(../img/shutterstock-58262164.png) no-repeat;
    height: 150px;
    background-position: bottom;
}

.faq .section-header .overlay {
    position: absolute;
    width: 100%;
    height: 150px;
    background: #1eb7f9;
    opacity: .7;
}

.faq .section-header p {
    font-size: 45px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    position: relative;
    padding: 50px;
}

.faq .section2, .faq .section1 {
    padding: 100px 0;
}

.faq .section1 {
    background: #fff;
}

.faq .section1 .header, .faq .section2 .header {
    font-size: 35px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.2px;
    text-align: center;
    color: #032233;
    margin-bottom: 50px;
}

.faq .section1 h2 {
    font-size: 35px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    text-align: center;
    color: #032233;
}

.faq .section1 h3 {
    font-size: 28px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.3px;
    text-align: center;
    color: #959595;
}

.faq .section1 .left, .faq .section1 .right {
    border: 1px dotted #000;
    max-width: 650px;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 0.1px;
    text-align: center;
    color: #4c4c4c;
    padding: 10px;
    margin-bottom: 50px;
}

.faq .section1 .img-inline {
    display: inline-block;
    vertical-align: middle;
    padding: 25px 10px;
}

.faq .section1 .img-inline img {
    display: block;
}

.faq .section1 p{
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 0.1px;
    text-align: justify;
    color: #444343;
}
